# Common settings
PORT=

# Database config
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_SSL=

# Swagger credentials
DOCS_USER=
DOCS_PASSWORD=

# Credentials for admin basic auth
BASIC_USER=
BASIC_PASSWORD=

# JWT secrets
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Password salt
PASSWORD_SECRET=

